@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

@font-face {
  font-family: 'Gora_Free';
  src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
       url('../fonts/gora-free-webfont.woff') format('woff'),
       url('../fonts/Gora-Free.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}