@import url('./layout/fonts.css');
@import url('./layout/normalize.css');
@import url('./layout/base.css');

@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/menu.css');
@import url('./blocks/contacts.css');
@import url('./blocks/schedule.css');
@import url('./blocks/breadcrums.css');
@import url('blocks/articles.css');
@import url('./blocks/hero.css');
@import url('./blocks/features.css');
@import url('./blocks/news-block.css');
@import url('./blocks/news.css');
@import url('./blocks/footer.css');
@import url('./blocks/top-news.css');
@import url('./blocks/pagination.css');
@import url('./blocks/general-info.css');
@import url('./blocks/social-contacts.css');
@import url('./blocks/sercives.css');
@import url('./blocks/partners.css');
@import url('./blocks/reviews-block.css');
@import url('./blocks/reviews.css');
@import url('./blocks/cta.css');
@import url('./blocks/feedback.css');

.bg-dark {
  background-color: #131415;
  color: #ffffff;
}

.section-title {
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.035em;
}
.section-title--center {
  text-align: center;
}

.col-equal {
  flex-basis: 0;
  flex-grow: 1;
}

.bold {
  font-weight: bold;
}







