.article__content {
    display: flex;
}
.article__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 30px;
}

.article__image {
    min-width: 160px;
    height: 160px;
    margin-right: 20px;
    background-color: #f5f5f5;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.article__info {
    color: #221f1f;
    font-weight: 300;
}

.article__date {
    display: block;
    color: #656464;
}

.article__heading {
    font-size: 1.286em;
    font-weight: 700;
    margin-bottom: 9px;
}

.article__text {
    font-size: 1.286em;
    line-height: 1.7;
}
