.article__content {
    display: flex;
}
.article__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 28px;
}

.article__image-data {
    flex-basis: 20.5%;
}

.article__image-wrap {
    max-width: 160px;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.article__image-wrap--no-image::before {
    content: "";
    display: block;
    width: 60%;
    margin: 0 auto;
    padding-top: 100%;
    background-image: url("../../img/none-logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.article__info {
    flex-basis: 79.5%;
    color: #221f1f;
    font-weight: 300;
}

.article__date {
    display: block;
    color: #656464;
}

.article__heading {
    font-size: 1.286em;
    font-weight: 700;
    margin-bottom: 9px;
}

.article__text {
    font-size: 1.286em;
    line-height: 1.7;
}
