.cta {
    background-image: url('../../img/pattern-bg.png');
    background-position: center center;
    padding-top: 21px;
    padding-bottom: 20px;
    text-align: center;
}

.cta__info {
    width: 78%;
    max-width: 665px;
    margin: 0 auto;
    font-size: 1.286em;
    font-weight: 300;
    line-height: 1.7em;
}

.cta__link {
    color: #f89513;
    font-weight: 700;
}