.features {
    padding: 24px 40px 8px;
    border: 1px solid #000000;
    margin-bottom: 60px;
}

.features__heading {
    margin-bottom: 25px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    flex-basis: 235px;
}

.features__title {
    font-size: 0.786em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 11px;
    letter-spacing: 0.22em;
}

.features__desc,
.features__details {
    font-size: 1.286em;
}

.features__details {
    line-height: 2em;
}
.features__desc {
    text-align: center;
    line-height: 1.75em;
}

.features__details {
    margin-bottom: 14px;
}
.features__detail::before {
    content: "\2022";
    margin-right: 24px;;
}