.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                 url("../../img/bg-intro.jpg") center center no-repeat;
    background-size: cover;
}

.intro__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: pulse;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(.39,-0.31,.37,1.22);
}

.intro__logo {
    margin-bottom: 40px;
}

.intro__text {
    color: #ffffff;
}
.intro__link:hover {
    color: inherit;
}

@keyframes pulse {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    25% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}
