.menu {
    margin-left: -20px;
}

.menu--ml-bigger {
    margin-left: 25px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.menu__list--mb-bigger {
    margin-bottom: 34px;
}

.menu__list--mb {
    margin-bottom: 57px;
}

.menu__item {
    font-size: 0.86em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.menu__item:not(:last-child) {
    margin-bottom: 26px;
}

.menu__list--mb-bigger .menu__item:not(:last-child) {
    margin-bottom: 38px;
}

.menu__list--mb .menu__item:not(:last-child) {
    margin-bottom: 34px;
}

.menu__link {
    display: flex;
    align-items: center;
    position: relative;
}

.menu__link::before {
    content: '';
    margin-right: 18px;
    display: flex;
    background: url("../../img/sprites.png") center no-repeat;
    filter: brightness(0%);
    transition: filter 0.3s;
}



.menu__link--main::before {
    background-position: -37px -86px;
    width: 19px;
    height: 14px;
}

.menu__link--comments::before {
    background-position: -77px -5px;
    width: 20px;
    height: 18px;
}

.menu__link--services::before {
    background-position: -95px -86px;
    width: 19px;
    height: 14px;
}

.menu__item--active {
    color: #f89513;
}

.menu__item--active .menu__link::before,
.menu__item:hover .menu__link::before {
    filter: brightness(100%);
}


