.news-block {
    padding-bottom: 30px;
}

.news-block__title {
    margin-bottom: 35px;
}

.news-block__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 46px;
}

.news-block__col-1 {
    flex-basis: 100%;
}

.news-block__col-2 {
    flex-basis: 15%;
}