.news-block {
    padding-top: 58px;
    padding-bottom: 50px;
}

.news-block__title {
    margin-bottom: 70px;
}

.news-block__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.news-block__col-1 {
    flex-basis: 83%;
}

.news-block__col-2 {
    flex-basis: 15%;
}