.news__item {
    padding-bottom: 30px;
}

.news__item:first-child .news__image{
    background-image: url('../../img/news-one.jpg');
}

.news__item:last-child .news__image{
    background-image: url('../../img/news-three.jpg');
}

.news__item:nth-child(2) .news__image{
    background-image: url('../../img/news-two.jpg');
}

.news__info {
    max-width: 695px;
    font-family: 'Roboto', sans-serif;
}

.news__date {
    margin-bottom: 8px;
}


