.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 24%;
    font-family: 'Roboto', sans-serif;
}

.pagination--ml {
    margin-left: 13%;
}
.pagination__controlls,
.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__list {
    margin: 0 15px;
}

.pagination__text {
    font-weight: 300;
    color: #656464;
    margin-right: 20px;
}

.pagination__prev,
.pagination__next {
    width: 6px;
    height: 10px;
    background-image: url('../../img/sprites.png');
    background-position: -5px -5px;
    background-repeat: no-repeat;
}

.pagination__prev {
    transform: rotate(180deg);
    opacity: 0.3;
    cursor: default;
}

.pagination__item {
    font-weight: 700;
    color: #221f1f;
    padding: 5px 8px;
}

.pagination__item--active {
    background-color: #27273e;
    color: #f89513;
    border-radius: 2px;
}

.pagination__item--active .pagination__link{
    cursor: default;
}