.social-contacts {
    display: flex;
    justify-content: flex-end;
}

.social-contacts__title {
    font-weight: 700;
    line-height: 1.8em;
}

.social-contacts__list {
    display: flex;
    justify-content: center;
}
.social-contacts__item:not(:last-child) {
    margin-right: 10px;
}

.social-contacts__link {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.social-contacts__link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../img/sprites.png');
}

.social-contacts__link--vk::before {
    background-position: -10px -120px;
    width: 12px;
    height: 7px;
}

.social-contacts__link--fb::before {
    background-position: -26px -10px;
    width: 6px;
    height: 13px;
}

.social-contacts__link--google::before {
    background-position: -89px -38px;
    width: 15px;
    height: 9px;
}

.social-contacts__link--tw::before {
    background-position: -129px -91px;
    width: 11px;
    height: 9px;
}

.social-contacts__link--mail::before {
    background-position: -10px -67px;
    width: 12px;
    height: 9px;
}